.messages {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 40px;
}

.messagesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.messagesLoading, .messagesEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
}




