@import "../../styles/variables";

.chatInput {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 40px;

  input {
    transition: all 0.4s ease-in-out;
    &:hover, &:focus {
      border: 1px solid $blue;
      box-shadow: none;
    }
  }
  svg {
    font-size: 20px;
    color: $blue;
    opacity: 0.8;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: $purple;
    }
  }
}

.chatInputActions {
  display: flex;
  align-items: center;
  gap: 20px;
}