@import "../../styles/variables";

.chatInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 40px;
}

.chatInputMessage {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  .chatRecord {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    svg {
      color: #f46b6b;
    }
    p {
      line-height: 1em;
    }
  }
  .chatRecordBubble {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #f46b6b;
  }
  input {
    transition: all 0.4s ease-in-out;
    &:hover, &:focus {
      border: 1px solid $lightBlue;
      box-shadow: none;
    }
  }
  svg {
    font-size: 20px;
    color: $lightBlue;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: $purple;
    }
  }
}

.chatInputActions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.chatInputActionsUploadBtn {
  cursor: pointer;
  &:hover  {
    button {
      opacity: 1;
      cursor: pointer;
    }
  }
}

.chatInputEmojiPicker {
  position: absolute;
  bottom: 100px;
  z-index: 1;
}

.chatInputUpload {
  width: 100%;
  padding-left: 80px;
}