@import "../../styles/variables";

.userInfo {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 30px;
  position: relative;
}

.userName {
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
}

.userData {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  &:hover {
    opacity: 0.7;
  }
}

.userAvatar {
  flex: 0 0 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.userName {
  svg {
    font-size: 15px;
  }
}

.userMenu {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 2;
  min-width: 200px;
  border-radius: 5px;
  background: $white;
  color: $dark;
  padding: 10px 0px;
  svg {
    font-size: 18px;
  }
  a, button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    position: relative;
    width: 100%;
    transition: color 0.3s ease-in-out;
    &.active, &:hover {
        color: $purple;
    }
  }
}

.userLogOut {
  margin-top: 10px;
  opacity: 0.7;
}