@import "../../styles/variables";

.messageAudioBubble {
  background: $purple;
  border-radius: 12px 12px 0px 12px;
  width: 250px;
  height: 62px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 500px) {
    width: 200px;
  }
}


  audio {
    display: none;
  }


.messageAudioInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 35px;
  padding: 10px;
}

.messageAudioBtn {
  button {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      font-size: 28px;
      color: $white;
      opacity: 0.9;
      transition: opacity 0.3s ease-in-out;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.messageAudioWave {
  padding: 0 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: 90px;
    object-fit: cover;
    margin-bottom: 4px;

  }
}

.messageAudioDuration {
  color: $white;
  font-weight: 500;
  font-size: 12px;
}

.messageAudioProgress {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, $purple, $blue);
  height: 100%;
  transition: width 0.5s ease-in-out;
}