@import "../../styles/variables";

.successBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  h3 {
    color: $dark;
    font-size: 20px;
    font-weight: bold;
  }

  .successBlockWrapper {
    background: $white;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px $boxShadow;
  }

  svg {
    font-size: 60px;
  }
}