@import "../../styles/variables";

.userWrapper {
  padding: 20px;
  display: grid;
  align-items: center;
  grid-template-columns: 60px 300px 1fr 300px;
  gap: 20px;
  box-shadow: 0px 0px 15px $boxShadow;
}

.userAvatar {
  width: 60px;
  height: 60px;
}

.userName {
  text-align: left;
}

.userLastSeen {
  text-align: right;
}

.userButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
  button {
    max-width: 150px;
  }
}


