@import "../../styles/variables";



.profileContainer {
  width: 100%;
  color: $grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 600px) {
    margin-bottom: 20px;
  }
}

.profileMain {
  width: 100%;
  overflow: auto;
}



