$dark: #202002;
$grey: #474A51;
$white: #fcf1ff;
$boxShadow: rgba(0,0,0,0.3);
$purple: rgba(168,17,203,1);
$blue: rgba(51,11,150,1);
$lightBlue: #666bd9;
$green: #00C980;
$red: #f46b6b;

$message-typing-grey: #E8E8E8;
$message-typing-circle: #a6bdf0;