@import "../../styles/variables";

.topForm {
  margin-bottom: 30px;
}



.registerButton {
  color: $blue;
  opacity: 0.8;
  display: inline-block;
  margin-top: 20px;
  font-size: 18px;
  letter-spacing: 0.5px;
  &:hover {
    color: $purple;
  }
}

.item{
  margin-bottom: 10px;
}

:global(.ant-input-affix-wrapper) {
  &::before {
    border: none;
    transition: all 0.3s ease-in-out;
    &:active, &:focus, &:hover {
      border: 1px solid $purple;
      box-shadow: none;
    }
  }

}

