@import "../../styles/variables";

.topForm {
  margin-bottom: 30px;
}

.registerButton {
  color: $blue;
  opacity: 0.8;
  display: inline-block;
  margin-top: 20px;
  font-size: 18px;
  letter-spacing: 0.5px;
  &:hover {
    color: $purple;
  }
}

.item{

}

:global(.ant-input-affix-wrapper) {
  border: 1px solid $boxShadow !important;

  transition: all 0.3s ease-in-out;
  &:active, &:focus, &:hover {
    border: 1px solid $purple !important;
  }


}

:global(.ant-form-item-control) {
  margin-bottom: 20px;
  @media (max-width: 600px) {
    margin-bottom: 10px;
  }
}