@import "../../styles/variables";

.chatDialog {
  height: 100%;
  width: 100%;
}

.chatDialogHeader {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 70px;
  padding: 10px 40px;
  border-bottom: 1px solid #a08eb4;
  svg {
    font-size: 20px;
  }

  @media (max-width: 992px) {
    grid-template-columns: 1fr auto;
    padding: 10px;
  }
}
.chatDialogMessagesBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 40px 0;
  height: calc(100vh - 70px);
}

.chatDialogMessages {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 95%;
}

