@import "../../styles/variables";

.spinIcon {
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  align-items: center;
  justify-content: center;
  svg, div {
    color: $purple;
  }
  div {
    font-size: 16px;
    margin-top: 5px;
  }
}