@import "../../../styles/variables";

.profileInfoContainer {
  width: 100%;
  line-height: 2em;
}

.profileInfoName {
  display: inline-flex;
  align-items: baseline;
  font-weight: bold;
  font-size: 30px;
  color: white;
  gap: 5px;
  width: 100%;

  @media (max-width: 1260px) {
    justify-content: center;
  }
}

.editButton {
  font-size: 20px;
  opacity: 0.4;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    opacity: 1;
  }
}

.profileInfoList {
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  z-index: 5;
  opacity: 0.8;
  margin-top: 20px;
  max-width: 300px;
  li {
    width: 100%;
    margin-bottom: 10px;
    line-height: 1.5em;
    color: $white;
  }
  span {
    font-weight: 400;
  }
}