@import "../../styles/variables";

.dialogItem {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  width: 100%;
  margin-bottom: 5px;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.2;
    z-index: 0;
    transition: opacity 0.3s ease-in-out;
  }
  &.active, &:hover {
    &::before {
      opacity: 0.3;
    }
  }
}

.dialogItemSelected {
  &::before {
    opacity: 0.4;
  }
}

.dialogItemAvatar {
  z-index: 1;
  flex: 0 0 50px;
  height: 50px;
  margin-right: 10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.dialogItemInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  z-index: 1;
  color: $white;
}

.dialogItemInfoTop {
  display: flex;
  b {
    font-weight: 500;
    font-size: 14px;
    flex: 1;
  }
  span {
    opacity: 0.5;
  }
}

.dialogItemInfoBottom {
  position: relative;
  p {
    opacity: 0.5;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 270px;
    white-space: nowrap;
  }
  .messageIconReaded {
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;
  }
}

.dialogItemCount {
  position: absolute;
  right: 0;
  bottom: 3px;
  background: #f46b6b;
  color: $white;
  font-weight: 500;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  font-size: 11px;
  line-height: 19px;
  text-align: center;
}

.dialogItemOnline {
  .dialogItemAvatar {
    position: relative;
    &::before {
      display: block;
      position: absolute;
      right: 1px;
      bottom: 1px;
      content: '';
      background-color: $green;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      border: 1px solid $white;
    }
  }
}

