@import "../../styles/variables";

.sidebar {
  height: 100%;
  overflow: auto;
  width: 100%;
  background: linear-gradient(52deg, rgba(51,11,150,1) 0%, rgba(145,20,207,1) 100%, rgba(168,17,203,1) 100%);
  @media (max-width: 992px) {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    top: 0px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 0.3s ease 0s;
    z-index: 2;
    &.sidebarOpen {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      left: 0;
    }
  }
}

.sidebarHeader {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: $white;
  border-bottom: 1px solid #a08eb4;
  height: 70px;

  svg {
    font-size: 20px;
  }

  @media (max-width: 992px) {
    direction: rtl;
    grid-auto-flow: dense;
    gap: 20px;
    > * {
      direction: ltr;
    }
  }

}

.sidebarDialogsList {
  display: flex;
  align-items: center;
  gap: 10px;
  @media (max-width: 992px) {
    justify-self: center;
  }
}

.sidebarSearch {
  padding: 30px 10px 20px 10px;
  width: 100%;
  input {
    width: 100%;
    background: $white;
    padding: 10px;
    height: 40px;

  }
  :global(.ant-input-affix-wrapper){
    background: $white;
    border: 0 !important;
  }
  :global(.ant-input-prefix) {
    background: $white !important;
    height: 40px !important;
    padding: 5px !important;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: inherit !important;
    svg {
      width: 16px;
      height: 16px;
    }
  }
}

.dialogsEmpty {
  display: flex;
  flex-direction: column;
  svg {
    width: 120px !important;
    height: 120px !important;
  }
  div {
    color: $white !important;
    margin-top: 60px;
    font-size: 14px;
  }

}

