@import "../../styles/variables";

.chatDialogHeaderBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.status {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  color: #a39cab;
  position: relative;

  &::before {
    position: absolute;
    top: 9px;
    left: 0px;
    display: block;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 30px;
    background-color: #D3D3D3;
  }
}

.statusOnline {
  &::before {
    background-color: $green;
  }
}

.chatDialogHeaderUserName {
  color: $lightBlue;
  font-size: 16px;
  font-weight: bold;
}
