@import "../../../styles/variables";


.profileFormContainer {
  width: 100%;
  line-height: 2em;
  display: flex;
  flex-direction: column;
  input {
    width: 100%;
    padding: 10px 20px;
    height: 40px;
    transition: all 0.3s ease-in-out;
    &:active, &:focus, &:hover {
      border: 1px solid $purple;
      box-shadow: none;
    }
  }
  textarea {
    &:active, &:focus, &:hover {
      border: 1px solid $purple;
      box-shadow: none;
    }
  }
  button {
    margin-top: 20px;
    width: 100%;
  }
  label {
    color: $white;
  }
}

:global(.ant-picker) {
  transition: all 0.3s ease-in-out;
  &:active, &:focus, &:hover {
    border: 1px solid $purple;
    box-shadow: none;
  }
  input {
    &:active, &:focus, &:hover {
      border: none;
      box-shadow: none;
    }
  }
}

:global(.ant-picker-cell-selected > .ant-picker-cell-inner) {
  background: $purple !important;
}

:global(.ant-picker-today-btn) {
  color: $purple !important;
}

:global(.ant-picker-focused) {
  border: 1px solid $purple;
}

:global(.ant-form-item-label) {
  label {
    color: $white !important;
    opacity: 0.8;
  }
}

:global(.ant-form-item) {
  text-align: left;
}

