@import "../../styles/variables";

.modal {
  h2 {
    font-size: 30px;
    text-align: center;
    color: $purple;
    margin-bottom: 10px;
  }
  h3 {
    text-align: center;
    opacity: 0.5;
    margin-bottom: 20px;
  }
  textarea {
    width: 100%;
    background: $white;
    border: 0;
    padding: 10px 20px;
    height: 40px;

    &:active, &:focus {
      border: none;
      box-shadow: none;
    }
  }
}

:global(.ant-select-selector) {
  background: $white !important;
  border: none !important;
  box-shadow: none !important;
}

:global(.ant-select-item-option-active) {background: $white !important;
  border: none !important;}
