@import "../../styles/variables";

.topForm {
  margin-bottom: 30px;
}

.loginButton {
  color: $blue;
  opacity: 0.8;
  display: inline-block;
  margin-top: 20px;
  font-size: 18px;
  letter-spacing: 0.5px;
  &:hover {
    color: $purple;
  }
}

