.avatar {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.avatarEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}