@import "../../styles/variables";

.message {
  display: flex;
  max-width: 440px;
  margin-bottom: 15px;
  .messageAvatar {
    display: flex;
    flex-direction: column-reverse;
    img {
      border-radius: 50px;
      width: 40px;
      height: 40px;
      margin-right: 13px;
      margin-bottom: 22px;
    }
  }

  .messageContent {

  }

  .messageBubble {
    background: $blue;
    box-shadow: 0px 5px 5px $boxShadow;
    border-radius: 12px 12px 12px 0px;
    padding: 15px;
    margin-bottom: 8px;
  }

  .messageText {
    color: $white;
  }

  .messageTyping {
    span {
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background: #c1c1c1;
      display: inline-block;
      margin-right: 8px;
      animation: typingAnimation 1000ms ease-in-out infinite;
      &:nth-of-type(2) {
        animation-delay: 333ms
      }
      &:nth-of-type(3) {
        animation-delay: 666ms
      }
    }
  }

  @keyframes typingAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .messageAttachments {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px 0;
  }

  .messageAttachmentsItem {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 5px 5px $boxShadow;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .messageDate {
    font-size: 12px;
    opacity: 0.6;
  }
}

.messageImage {
    .messageAttachmentsItem {
      width: 150px;
      height: 150px;
      img {
        width: 100%;
        height: 100%;
      }
  }

}

.messageIsTyping {
  .messageBubble {
    background: $message-typing-grey;
    box-shadow: 0 5px 5px rgba(54, 116, 255, 0.04);
    padding: 15px 18px;
  }
}

.messageMe {
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end;
  .messageAvatar {
    img {
      margin-right: 0px;
      margin-left: 13px;
    }
  }
  .messageBubble {
    background: $purple;
    border-radius: 12px 12px 0px 12px;
  }
  .messageText {
    text-align: right;
  }

  .messageDate {
    display: flex;
    flex-direction: row-reverse;
  }
  .messageIconReaded {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }
}

.messageAudio {
  .messageBubble {
    width: 290px;
    height: 62px;
    position: relative;
    overflow: hidden;
  }
}

